<h1>Editing story comment</h1>

<%= render "form", story_comment: @story_comment %>

<br>

<div>
  <%= link_to "Show this story comment", @story_comment %> |
  <%= link_to "Back to story comments", story_comments_path %>
</div>
