<p style="color: green"><%= notice %></p>

<h1>Story comments</h1>

<div id="story_comments">
  <% @story_comments.each do |story_comment| %>
    <%= render story_comment %>
    <p>
      <%= link_to "Show this story comment", story_comment %>
    </p>
  <% end %>
</div>

<%= link_to "New story comment", new_story_comment_path %>
