<%= form_with model: [story, tag], id: dom_id_for_records(story, tag), format: :turbo_stream  do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
