<div class="d-flex justify-content-start align-items-center">
  <%= button_to upvote_label(votable, current_user), public_send(vote_path, params.merge(type: :upvote)), method: :patch, class: "btn btn-link p-0 me-2" %>|
  <span class="mx-2" data-vote-target="votes"><%= votable.weighted_score %></span>|<!-- TODO: use cached_weighted_like_score if the app gets big enough -->
  <%= button_to downvote_label(votable, current_user), public_send(vote_path, params.merge(type: :downvote)), method: :patch, class: "btn btn-link p-0 ms-2" %>
</div>
