<div id="stories" class="d-flex flex-column justify-content-center align-items-center mx-auto">
  <% @stories.each do |story| %>
    <div class="container m-3">
      <%= link_to story_path(story), class: "text-decoration-none text-reset" do %>
        <%= render partial: 'frontpage_story', locals: { story: story } %>
      <% end %>
    </div>
  <% end %>
  <div id="pager" class="d-flex justify-between mb-5">
    <div>
      <% if @pagy.prev %>
        <%= link_to "< Previous page", root_path(page: @pagy.prev), class: "my-3 mx-5" %>
      <% end %>
    </div>
    <div class="text-right">
      <% if @pagy.next %>
        <%= link_to "Next page >", root_path(page: @pagy.next), class: "my-3 mx-5" %>
      <% end %>
    </div>
  </div>
</div>
