<div class='container pb-2'>
  <div class='m-3'>
    <%= turbo_stream.replace dom_id(@story) do %>
      <%= render 'stories/form', story: @story, tag_names: @tag_names %>
    <% end %>
  </div>
</div>
<%= turbo_stream.prepend('flash', partial: 'shared/flash') %>
