<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column justify-content-center align-items-center w-100">
  <div class="w-50">
    <%= render partial: @story, locals: { signed_in_user_is_creator: current_user == @story.user } %>
  </div>
</div>
