<div class="container">
  <div class="m-3">
    <%= button_to "Back to Stories", root_path, method: :get, class:"btn btn-m btn-secondary mb-3" %>
    <%= render @story %>

    <h5 class="mt-3 mb-3">Comments</h5>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: Comment.new, commentable: @story } %>
    <% end %>

    <% @story.comments.order(created_at: :desc).each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>
