<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column justify-content-center align-items-center">
  <%= render @story %>

  <div>
    <%= link_to "Edit this story", edit_story_path(@story) %>

    <%= button_to "Destroy this story", @story, method: :delete %>
  </div>
</div>
