<%= turbo_frame_tag [dom_id(story), tag_name].join('_') do %>
  <div class='d-inline-flex align-items-center'>
    <%= hidden_field_tag 'story_tag_names[]', tag_name %>
    <span class='text-muted'>#<%= tag_name %></span>
    <%= button_to 'x', tag_path(tag_name, story_id: story&.id), method: :delete, class: 'btn btn-link text-decoration-none text-reset' %>
  </div>
<% end %>
